.title {
    margin-top: 2rem;
    margin-left: 2rem;

    font-size: 2rem;
    font-weight: var(--font-black);
}

.subtitle {
    margin-top: 1rem;
    margin-left: 2rem;

    font-size: 1rem;
    font-weight: var(--font-semibold);
}

.ownerImage {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
}

.breakerImage {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
}

.owner {
    margin-top: 2rem;
    margin-left: 2rem;

    font-size: 1rem;
    font-weight: var(--font-black);
}

.h2 {
    font-size: 1.5rem;
    font-weight: var(--font-black);

    margin-top: 5rem;
    width: 75%;

    text-align: start;
    margin-left: 2rem;
}

.gridImages {
    width: 80%;
    margin: 0 auto;

    margin-top: 5rem;
}

.gridImages img {
    margin-top: 2rem;
}

.historyContainer {
    margin-top: 5rem;
}

.history {
    font-size: 1rem;
    font-weight: var(--font-semibold);

    text-align: center;
    width: 70%;

    margin: 0 auto;
    margin-top: 3rem;
}

@media (min-width: 768px) {

    .introGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .owner {
        margin-top: 5rem;
        grid-column: 2;
    }

    .ownerImage {
        grid-column: 1;
    }

    .h2 {
        margin: 0 auto;
        width: 80%;

        margin-top: 10rem;
    }

    .gridImages {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        gap: 2rem;
        width: 90%;
    }

    .breakerImage {
        display: flex;
        justify-content: center;
    }

    .breakerImage img {
        width: 60%;
    }
}