.title {
    margin: 2rem 0 0 2rem;

    font-size: 2rem;
    font-weight: var(--font-black);
}

.subtitle {
    margin: 1rem 0 0 2rem;

    font-size: 1rem;
    font-weight: var(--font-semibold);
}

.ownerImage,
.breakerImage {
    width: 90%;
    margin: 3rem auto 0;
}

.owner {
    margin: 2rem 0 0 2rem;

    font-size: 1rem;
    font-weight: var(--font-black);
}

.h2 {
    width: 75%;
    margin: 5rem 0 0 2rem;

    font-size: 1.5rem;
    font-weight: var(--font-black);
    text-align: start;
}

.gridImages {
    width: 80%;
    margin: 5rem auto 0;
}

.gridImages img {
    margin-top: 2rem;
}

.historyContainer {
    margin-top: 5rem;
}

.history {
    width: 70%;
    margin: 3rem auto 0;

    font-size: 1rem;
    font-weight: var(--font-semibold);
    text-align: center;
}

@media (min-width: 768px) {

    .introGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .owner {
        grid-column: 2;
        margin-top: 5rem;
    }

    .ownerImage {
        grid-column: 1;
    }

    .h2 {
        width: 80%;
        margin: 10rem auto 0;
    }

    .gridImages {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        gap: 2rem;
        width: 90%;
    }

    .breakerImage {
        display: flex;
        justify-content: center;
    }

    .breakerImage img {
        width: 60%;
    }
}

@media (min-width: 1280px) {

    .history {
        font-size: 1.5rem;
    }

    .breakerImage {
        justify-content: start;
    }

    .breakerImage img {
        width: 40%;
        margin-top: 10rem;
        margin-bottom: 6rem;
    }
}