.home {
    display: grid;
}

.image,
.purpleFlower {
    display: flex;
    justify-content: center;
}

.image img,
.purpleFlower img {
    width: 80%;
    margin-top: 10rem;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
    font-weight: var(--font-black);

    margin-top: 5rem;
    text-align: center;
}

.subtitle {
    font-size: 1rem;
    font-weight: var(--font-semibold);

    margin-top: 2rem;
    margin-bottom: 3rem;

    text-align: center;
}

.baseline {
    height: 1px;
    width: 100%;

    background-color: black;

    margin-bottom: 3rem;
}

@media (min-width: 768px) {

    .image img,
    .purpleFlower img {
        width: 70%;
    }

    .purpleFlower img {
        width: 85%;
    }
}

@media (min-width: 1280px) {

    .image img,
    .purpleFlower img {
        width: 40%;
    }

    .purpleFlower img {
        width: 80%;
    }
}