.section {
    text-align: center;

    width: 80%;
    
    margin: 0 auto;
    margin-top: 10rem;
}

.title {
    font-size: 1rem;
    font-weight: var(--font-semibold);
}

.subtitle {
    font-size: 1.2rem;
    font-weight: var(--font-bold);

    margin-top: 1rem;
    margin-bottom: 2rem;
}

.button {
    font-size: 0.8rem;

    font-weight: var(--font-bold);
    background-color: var(--button-color);

    padding: 0.5rem 1rem;
    border-radius: 10px;
}