.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 8rem auto 0;
}

.footerTablet,
.footerDesktop {
    display: none;
}

@media (min-width: 768px) {

    .footer {
        display: none;
    }

    .footerTablet {
        display: flex;
        justify-content: center;

        margin-top: 8rem;
    }
}

@media (min-width: 1280px) {

    .footerTablet {
        display: none;
    }

    .footerDesktop {
        display: flex;
        justify-content: center;

        margin-top: 8rem;
    }
}